* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 20px 50px 0px 50px;
}
header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 60px;
}
.header-item {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  gap: 50px;
}
.filter-section,
.filter-section > * {
  color: rgb(49, 49, 104);
}
.bag {
  position: relative;
}
.right-side-icon {
  font-size: 40px;
  height: 30px;
  width: 30px;
}
.bag-count {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  z-index: 101;
  cursor: pointer;
}
main {
  display: grid;
  /* grid-auto-flow: column; */
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(240px, 250px));
  gap: 1px;
  row-gap: 58px;
  margin-top: 24px;
}
.single-prod-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  gap: 20px;
  width: 100%;
  height: 1050px;
  justify-content: center;
}
.single-prod-image {
  height: 1050px;
}
.single-prod-info-container {
  width: 400px;
  font-family: roboto;
  font-size: 30px;
}
.single-prod-addToBag {
  margin-top: 15px;
  font-family: roboto;
  font-size: 15px;
  padding: 20px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.product {
  display: grid;
  gap: 14px;
  align-items: center;
  width: 100%;
  height: 430px;
}
.product-image {
  width: 100%;
  height: 100%;
}
.product-text {
  color: rgb(29, 29, 39);
}
.product-title {
  font-size: 50x;
}
.product-price {
  font-size: 25px;
  font-weight: bolder;
}
.type-filter {
  z-index: 100;
  height: 100%;
  width: 100%;
}
footer {
  width: 100%;
  background-color: grey;
  height: 70px;
}
.footer-item-container {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  height: 70px;
  padding: 10px 50px;
  background-color: grey;
  align-items: center;
  color: white;
}
.modal {
  height: calc(100% - 120px);
  width: calc(100% - 100px);
  position: absolute;
  background-color: rgba(128, 128, 128, 0.326);
  z-index: 200;
  display: grid;
  place-content: center;
  place-items: center;
}
.no-modal {
  display: none;
}
.modal-content {
  /* height: 500px; */
  /* width: 500px; */
  min-width: 400px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  padding: 30px;
}
.cancel-modal {
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  margin-left: 85%;
  margin-top: -4%;
  cursor: pointer;
}
.search-input {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid blue;
  padding: 10px;
}
.pay-now {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: blue;
  border-radius: 15px;
  color: white;
  border: none;
  margin-top: 20px;
}
